<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Datos Personales</h1>
    </div>
    <div class="row">
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Imagen Perfil</h6>
            </div>
            <div class="card-body">
                {{ form(imagenUsuarioForm) }}
            </div>
        </div>
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Datos Personales</h6>
            </div>
            <div class="card-body">
                <p>Alias: {{ usuario.alias }}</p>
                {{ form(usuarioForm) }}
            </div>
        </div>
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contraseña</h6>
            </div>
            <div class="card-body">
                {{ form(passwordForm) }}
            </div>
        </div>
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Dirección</h6>
            </div>
            <div class="card-body">
                {{ form(direccionForm) }}
            </div>
        </div>
    </div>
</div>
