<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mis Reservas</h1>
    </div>
    <h4>Reservas hechas por mi</h4>
    <div class="row mb-4">
        {% if reservas is  not empty %}
            <table>
                <thead>
                <tr>
                    <th>Objeto</th>
                    <th>Fecha Reserva</th>
                    <th>Fecha Actualización</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td class="clickable"
                            onclick="window.open('{{ path('objeto', {"objetoId": reserva.objeto.id}) }}', '_blank')">{{ reserva.objeto.nombre }}</td>
                        <td>{{ reserva.fechaCreacion|date('d/m/Y H:i') }}</td>
                        <td>{{ reserva.fechaActualizacion|date('d/m/Y H:i') }}</td>
                        <td class="{{ reserva.estadoClase }}">{{ reserva.estadoToString }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="cardCompleta shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sin reservas</h6>
                </div>
                <div class="card-body">
                    <p>Aún no has reservado ningún objeto, pruébelo.</p>
                </div>
            </div>
        {% endif %}
    </div>
    <h4>Reservas hechas a mis objetos</h4>
    <div class="row">
        {% if usuario.reservasAMi is  not empty %}
            <table>
                <thead>
                <tr>
                    <th>Objeto</th>
                    <th>Usuario</th>
                    <th>Fecha Reserva</th>
                    <th>Fecha Actualización</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for reserva in usuario.reservasAMi %}
                    <tr>
                        <td class="clickable"
                            onclick="window.open('{{ path('objeto', {"objetoId": reserva.objeto.id}) }}', '_blank')">{{ reserva.objeto.nombre }}</td>
                        <td>{{ reserva.usuario.nombre }}</td>
                        <td>{{ reserva.fechaCreacion|date('d/m/Y H:i') }}</td>
                        <td>{{ reserva.fechaActualizacion|date('d/m/Y H:i') }}</td>
                        <td class="{{ reserva.estadoClase }}">{{ reserva.estadoToString }}</td>
                        <td>
                            {% if reserva.pendiente %}
                                <a href="{{ path('reserva_aceptar', {"reservaId": reserva.id}) }}"
                                   class="btn btn-success btn-sm">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a href="{{ path('reserva_cancelar', {"reservaId": reserva.id}) }}"
                                   class="btn btn-danger btn-sm">
                                    <i class="fa fa-xmark"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="cardCompleta shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sin reservas</h6>
                </div>
                <div class="card-body">
                    <p>Aún no te han reservado ningún objeto.</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
