<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="{{ asset('font-awesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('css/base.css') }}" rel="stylesheet">
    <link href="{{ asset('css/alertas.css') }}" rel="stylesheet">
</head>
<body class="" id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column min-vh-100">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-full navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Logo -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-full sidebar-dark accordion"
                    id="accordionSidebar">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center"
                       href="{{ path('index') }}">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-rotate"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">Intercambio</div>
                    </a>

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                </ul>
                <!-- End of Logo -->

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form method="post" action="{{ path('busqueda') }}"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" name="busqueda" required class="form-control bg-light border-0 small"
                               placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" name="buscar" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    {% if app.user %}
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link btn btn-success h-50 text-white" href="{{ path('objeto_create') }}"
                               id="objetoCreate" role="button">
                                <i class="fas fa-plus fa-fw"></i>
                                <span>Crear Objeto</span>
                            </a>
                        </li>
                    {% endif %}

                    <div class="topbar-divider d-none d-sm-block"></div>

                    {% if app.user %}
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                {% if app.user.valoracion is not null %}
                                    {{ app.user.valoracion.valor|round(2, 'floor') }}
                                    {% set valor = app.user.valoracion.valor %}
                                    {% for i in 1..valor %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                {% if valor != 5 and (valor - valor|round(0, 'floor')) != 0 %}
                                    <i class="fa fa-star-half"></i>
                                {% endif %}
                                {% else %}
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                {% endif %}
                            </span>
                                <img class="img-profile rounded-circle"
                                     src="{{ asset('images/profile_' ~ random(1, 4) ~ '.svg') }}">
                                <span>{{ app.user.alias }}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('perfil') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('logout') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Entrar</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('login') }}">
                                    <i class="fa fa-right-to-bracket fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Login
                                </a>
                                <a class="dropdown-item" href="{{ path('usuario_create') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Registrarse
                                </a>
                            </div>
                        </li>
                    {% endif %}

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            {% block content %}
            {% endblock %}
            <!-- /.container-fluid -->

            <div id="alert-area" class="alert-area"></div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="mt-auto sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('js/alertas.js') }}"></script>
<script>
    {% for label, alertas in app.flashes %}
    {% for alerta in alertas %}
    var alerta = "{{ alerta }}";
    {% if label == 'success' %}
    alertboxSucces.show(alerta);
    {% else %}
    alertboxError.show(alerta);
    {% endif %}
    {% endfor %}
    {% endfor %}
</script>

{% block js %}
{% endblock %}

<!-- Custom scripts for all pages-->
{# <script src="js/sb-admin-2.min.js"></script> #}
</body>
</html>
